In [5]:
import pandas as pd
# df=pd.read_excel('./data/Final Sales.xlsx')
df=pd.read_excel('./data/Consolidated Sales.xlsx', sheet_name='Main')

In [38]:
pd.set_option('display.max_columns', None)

In [40]:
df.head(1)

,Material,Billing Doc.,Item,SALES OFFICE CODE,EXT MAT GROUP,MatGroup3,Star Rating,Segment,Star Rating.1,Stor. Location,Sales district,SBU,Year,Month,Week,Billing Date,Customer,Material.1,Billing Quantity ODU,Billing Quantity IDU,Tonnage,Dealer Name,Segment.1,Basic Value,Deal Cat1,USD Value,Deal Cat2,Tax Amount,Price Group,BDC Discount,EDC Discount,Sale Supp Discount,Trade Discount,ZDSD Discount,Fest Discount,ZDIN Spl Discount,SLC/DC/Mat,Mat/DC/SO,Mat/DC,ZDI8-SOrg/Cust,ZDI9-SOrg/RegMarket,RR Discount,Sol Plaza Discount,Turn Over,Sales Commission,Cash Discount,Add Cash Discount,Sales Order,Order Date,Sord Created by,Dealer Code,PayTerm,PersonRes,Order Type,YourRef,Distribution Channel Billing,Sold-to party,Discount,CustCity,Turn Over-CD,Ord Reason,Approval Number,SSS Discount,GR Total,Cust Grp,Plant,Location,Location State,Plant Zone,Sales Group,Division,Qt No.,Qt Type,Qt Date,MAT_GP7,SH CITY,SH POCODE,SH STATE,State Zone,Sales Person Name,Deal/Cust,Application Name,Billing,Inter/Intra,Period
0,FTL28TV16X2,1.933500e+09,230.0,MAA,RA-IDU,RA,N3S,Non Inv,3 Star,1010,NaN,RA,19-20,12) Mar,Wk 4,2020-03-30,CLOUDTAIL INDIA PRIVATE LIMITED,FTL28TV16X2,0.0,-1.0,0.0,CLOUDTAIL INDIA PRIVATE LIMITED,Dealer Billing,-7343.75,ES,$0.0,HA,-1596.96,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-5703.42,0.0,0.0,0.0,60235687.0,2020-03-30 00:00:00,S4/Hana,4042,Payable within 21 days,Ashok Kumar NC,ZRET,NaN,ES,200289.0,1640.33,DELHI,-5703.42,113,SALES RETURN,0.0,-7300.38,-,MAAE,Chennai,Tamilnadu,South,AKC,MA,1933024135,-,-,-,CHENNAI.,602107,Tamilnadu,South,Ashok Kumar NC,4042,-,Branch Billing,Intrastate,Season

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324727 entries, 0 to 324726
Data columns (total 85 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Material                      324726 non-null  object
 1   Billing Doc.                  301123 non-null  float64
 2   Item                          301123 non-null  float64
 3   SALES OFFICE CODE             324726 non-null  object
 4   EXT MAT GROUP                 324726 non-null  object
 5   MatGroup3                     324726 non-null  object
 6   Star Rating                   324726 non-null  object
 7   Segment                       324726 non-null  object
 8   Star Rating.1                 324726 non-null  object
 9   Stor. Location                301090 non-null  object
 10  Sales district                6412 non-null    object
 11  SBU                           324726 non-null  object
 12  Year                          324726 non-null  object
 13  Month                         324726 non-null  object
 14  Week                          324726 non-null  object
 15  Billing Date                  324726 non-null  datetime64[ns]
 16  Customer                      324726 non-null  object
 17  Material.1                    324726 non-null  object
 18  Billing Quantity ODU          324726 non-null  float64
 19  Billing Quantity IDU          324726 non-null  float64
 20  Tonnage                       324726 non-null  float64
 21  Dealer Name                   301123 non-null  object
 22  Segment.1                     324726 non-null  object
 23  Basic Value                   301123 non-null  float64
 24  Deal Cat1                     301123 non-null  object
 25  USD Value                     301123 non-null  object
 26  Deal Cat2                     301123 non-null  object
 27  Tax Amount                    301123 non-null  float64
 28  Price Group                   119846 non-null  object
 29  BDC Discount                  301123 non-null  float64
 30  EDC Discount                  301123 non-null  float64
 31  Sale Supp Discount            301123 non-null  float64
 32  Trade Discount                301123 non-null  float64
 33  ZDSD Discount                 301123 non-null  float64
 34  Fest Discount                 301123 non-null  float64
 35  ZDIN Spl Discount             301123 non-null  float64
 36  SLC/DC/Mat                    301123 non-null  float64
 37  Mat/DC/SO                     301123 non-null  float64
 38  Mat/DC                        301123 non-null  float64
 39  ZDI8-SOrg/Cust                301123 non-null  float64
 40  ZDI9-SOrg/RegMarket           301123 non-null  float64
 41  RR Discount                   301123 non-null  float64
 42  Sol Plaza Discount            301123 non-null  float64
 43  Turn Over                     301123 non-null  float64
 44  Sales Commission              301123 non-null  float64
 45  Cash Discount                 301123 non-null  float64
 46  Add Cash Discount             301123 non-null  float64
 47  Sales Order                   301122 non-null  float64
 48  Order Date                    301123 non-null  object
 49  Sord Created by               301123 non-null  object
 50  Dealer Code                   301123 non-null  object
 51  PayTerm                       301123 non-null  object
 52  PersonRes                     300907 non-null  object
 53  Order Type                    301123 non-null  object
 54  YourRef                       263284 non-null  object
 55  Distribution Channel Billing  301123 non-null  object
 56  Sold-to party                 301123 non-null  float64
 57  Discount                      301123 non-null  float64
 58  CustCity                      301123 non-null  object
 59  Turn Over-CD                  301123 non-null  float64
 60  Ord Reason                    105223 non-null  object
 61  Approval Number               64657 non-null   object
 62  SSS Discount                  301123 non-null  float64
 63  GR Total                      301123 non-null  float64
 64  Cust Grp                      301123 non-null  object
 65  Plant                         301123 non-null  object
 66  Location                      301123 non-null  object
 67  Location State                301123 non-null  object
 68  Plant Zone                    301123 non-null  object
 69  Sales Group                   300907 non-null  object
 70  Division                      301123 non-null  object
 71  Qt No.                        216224 non-null  object
 72  Qt Type                       301123 non-null  object
 73  Qt Date                       301123 non-null  object
 74  MAT_GP7                       301123 non-null  object
 75  SH CITY                       301121 non-null  object
 76  SH POCODE                     300227 non-null  object
 77  SH STATE                      324726 non-null  object
 78  State Zone                    316908 non-null  object
 79  Sales Person Name             300887 non-null  object
 80  Deal/Cust                     301123 non-null  object
 81  Application Name              301123 non-null  object
 82  Billing                       301123 non-null  object
 83  Inter/Intra                   301123 non-null  object
 84  Period                        324726 non-null  object
dtypes: datetime64[ns](1), float64(31), object(53)
memory usage: 210.6+ MB

In [52]:
df.shape

(324727, 85)

In [80]:
cols = ['Star Rating.1', 
        'Year', 
        'Month', 
        'Week', 
        'Billing Date', 
        'Billing Quantity ODU', 
        'Billing Quantity IDU', 
        'Tonnage',
        'SH CITY',
        'SH STATE',
        'State Zone',
        'Period'
        ]
df_subset = df[cols]
df_subset = df_subset[(df_subset['Billing Quantity ODU'] >= 0) & (df_subset['Billing Quantity IDU'] >= 0)].reset_index(drop=True)

In [ ]:
df_subset.to_csv('./data/df_subset.csv', index=False)

,Star Rating.1,Year,Month,Week,Billing Date,Billing Quantity ODU,Billing Quantity IDU,Tonnage,SH CITY,SH STATE,State Zone,Period
0,5 Star,19-20,12) Mar,Wk 4,2020-03-23,0.0,2.0,0.0,KOLLAM,Kerala,South,Season
1,5 Star,19-20,12) Mar,Wk 4,2020-03-23,2.0,0.0,1.0,KOLLAM,Kerala,South,Season
2,3 Star,19-20,12) Mar,Wk 4,2020-03-23,0.0,2.0,0.0,KOLLAM,Kerala,South,Season
3,3 Star,19-20,12) Mar,Wk 4,2020-03-23,2.0,0.0,1.0,KOLLAM,Kerala,South,Season
4,3 Star,19-20,12) Mar,Wk 4,2020-03-23,0.0,2.0,0.0,KOLLAM,Kerala,South,Season